<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Special Fish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A beautiful school of fish." />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <nav>
        <% if(!currentUser){ %>
            <a href="/" title="home" class="box small"></a>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            </div>
            <div><a href="/login">Login</a> / <a href="/register">Sign Up</a></div>
        <% } else { %>
            <% if(page === '/'){ %>
                <a href="<%= currentUser.username %>" title="profile" class="box small" style="background: <%= currentUser.user.color %>  !important;"></a>
            <% } else { %>
                <a href="/" title="home" class="box small"></a>
            <% } %>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            
            </div>
            <div><a href="/logout">Logout</a></div>
        <% } %>
    </nav>