<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wish</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <nav>
        <!-- Search bar -->
        <!-- <div class="navbar-form navbar-right">
            <form action="/tweets" method="GET" class="searchBar">
                <div class="input-group form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </form> -->

        <% if(!currentUser){ %>
            <a href="/" class="box small"></a>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            </div>
            <div><a href="/login">Login</a> / <a href="/register">Sign Up</a></div>
        <% } else { %>
            <% if(page === '/'){ %>
                <a href="<%= currentUser.username %>" class="box small" style="background: <%= currentUser.user.color %>  !important;"></a>
            <% } else { %>
                <a href="/" class="box small"></a>
            <% } %>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            
            </div>
            <div><a href="/logout">Logout</a></div>
        <% } %>
    </nav>