<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wish</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <nav>
        <% if(!currentUser){ %>
            <a href="/" title="home" class="box small"></a>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            </div>
            <div><a href="/login">Login</a> / <a href="/register">Sign Up</a></div>
        <% } else { %>
            <% if(page === '/'){ %>
                <a href="<%= currentUser.username %>" title="profile" class="box small" style="background: <%= currentUser.user.color %>  !important;"></a>
            <% } else { %>
                <a href="/" title="home" class="box small"></a>
            <% } %>
            <div>
            <% if (messages.message) { %>
                <div class="message"><%= messages.message %></div>
            <% } %>
            
            </div>
            <div><a href="/logout">Logout</a></div>
        <% } %>
    </nav>