<% include partials/header %>

<main>
    <% if(currentUser){ %>
        <h2>Favorites</h2>
        <% friends.forEach(function(friend) { %>
            <a href="<%= friend.username %>" class="box small" style="background-color: <%= friend.user.color %> !important;"></a>
        <% }) %>
        <br /><br />
    <% } %>
    
    <h2>Explore</h2>
    
    <% users.forEach(function(user){ %>
        <a href="<%= user.username %>" class="box small" style="background-color: <%= user.user.color %> !important;"></a>
    <% }) %>
</main>

<% include partials/footer %>