<% include ../partials/header %>

<% if (locals.error) { %>
	<%= error.message %>
<% } %>

<main>

	<% if(typeof errors !== "undefined") { %>
		<% errors.forEach(function(message) { %>
			<em><%= message.param %> </em>- <%= message.msg %><br />
		<% }) %>
		<br /><br />
	<% } %>


	<form action="/register" method="POST">
	
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" maxlength="200" required>
		</div>
	
		<div class="form-group">
			<label for="name">Username</label>
			<input type="text" name="username" class="form-control" maxlength="13" required>
		</div>
	
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" maxlength="40" required>
		</div>
	
		<div class="form-group">
			<label for="location">Location</label>
			<input type="text" name="location" class="form-control" maxlength="40" required>
			</div>
	
		<div class="form-group">
			<label class="color" for="color">Color</label><br />
			<input class="color-input" name="color" value="" type="color" maxlength="200" required>
		</div>
	
		<input type="submit" value="Sign Up" class="regular-button">
	
	</form>
</main>

<script src="js/random-color.js"></script>
<% include ../partials/footer %>