/* Globals */
* {box-sizing: border-box;}
html {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 20px; */
    font-size: 16px;
    background-color: #e6e6e6;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
    -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    word-break: break-all;
}
h1, h2, h3, h4, p, form, figure, button, ul, ol, li {
    margin: 0;
    padding: 0;
}
ol, ul {
    padding-left: 1em;
}
h2, h3, h4 {
    margin-bottom: .5em;
}
p, ol, ul, hr {
    margin-bottom: 1em;
}
p:last-child, ul:last-child, ol:last-child, li:last-child {
    margin-bottom: 0;
}
nav, main {
    padding: 10px;
}
img {max-width: 100%;}

/* Nav */
nav {
    margin-bottom: 20px;
    /* background: #e6e6e6; */
}
nav {
    display: grid;
    grid-template-columns: 25px 1fr max-content;
    grid-gap: 5px;
}

/* Profile */
.box {
    display: inline-block;
    background-color: #fff;
    position: relative;
    /* border-radius: 100%; */
}
.small {
    width: 25px;
    height: 25px;
}
.medium {
    width: 50px;
    height: 50px;
}
.large {
    width: 111px;
    height: 111px;
}
section {
    margin-bottom: 1em;
    border: 1px solid #c5c5c5;
    background: #fff;
    padding: 10px;
}
/* Tabs */
#tabs {
    margin-bottom: 1em;
}
#tabs a {
    border: 1px solid transparent;
    padding: 4px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
}
#edit-tab-content, #favorites-tab-content {display: none;}
.current-tab {
    border: 1px solid #000 !important;
}
/* Shapes */
.shape {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: none;
    background-position: center;
    display: inline-block;
}
.leaf {background-image: url('../images/leaf.svg');}
.heart {background-image: url('../images/heart.svg');}
.mushroom {background-image: url('../images/mushroom.svg');}
.pebble {background-image: url('../images/pebble.svg');}
.star {background-image: url('../images/star.svg');}
.flower {background-image: url('../images/flower.svg');}

/* Form */
.form-group {
    margin-bottom: 20px;
}
input[type=text], input[type=password], input[type=email], input[type=url], textarea, select {
    width: 100%;
    font-size: 100%;
}
input[type=color], button {
    font-size: 100%;
}
textarea {
    min-height:200px;
    resize: vertical;
}
.regular-button {
    font-size: 16px;
    padding: 2px 4px;
}
.tiny-button {
    font-size: 12px;
    padding: 2px 4px;
}

/* Flash Messages */
.message {
    /* font-style: italic; */
    background: yellow;
    display: inline-block;
    padding: 4px;
    height: 25px;
    /* margin: 10px; */
    animation: fadeout 1s 1;
    -webkit-animation: fadeout 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; z-index: -1000;}
}

/* Form Globals */
button {
    border: 1px solid #000;
    /* background: #fff; */
    background: #fff;
    font-size: 100%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
button:hover {
    background: #f0f0f0;
}
label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: .5em;
    font-size: 19px;
}

/* Friend Buttons */
/* .add-friend {
    display: inline;
} */
.remove-friend {
    display: inline;
}

/* friends grid */
#friends-section {
    max-width: 300px;
}
#friends {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(100px, 1fr));
}
#friends a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}